@media (max-width: 454px) {
    .musicalLinks {
        flex-wrap: wrap;
        margin-bottom: 1%;
        margin-left: 5%;
        justify-content: center;
    }
    .flexLink {
        flex: 0 0 50%;
    }
    .content {
        justify-content: center;
    }
    .section-orange,
    .section-sea,
    .section-dark {
        background-attachment: scroll;
    }

    .containerRight video {
        width: 90%;
    }

    .containerFather {
        display: flex;
        flex-direction: column;
    }
    .containerRight,
    .containerLeft {
        width: 100%;
    }

    .imgsScaleDown {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .imgsScaleDown {
        width: 100%;
    }
}
