@media (max-width: 454px) {
    .musicalLinks {
        flex-wrap: wrap;
        margin-bottom: 1%;
        margin-left: 5%;
        justify-content: center;
    }
    .flexLink {
        flex: 0 0 50%;
    }
    .content {
        justify-content: center;
    }
    .section-orange,
    .section-sea,
    .section-dark {
        background-attachment: scroll;
    }

    .containerRight video {
        width: 90%;
    }

    .containerFather {
        display: flex;
        flex-direction: column;
    }
    .containerRight,
    .containerLeft {
        width: 100%;
    }
    .imgsScaleDown {
        width: 100%;
    }
}

@media (max-width: 836px) {
    .menu img {
        padding: 0%;
    }
}

@media (max-width: 899px) {
    .slide {
        background-position: center;
    }
    .btn {
        top: -0.5em;
    }
    .imgsScaleDown {
        width: 90%;
    }
    .btn:first-child {
        left: 0;
    }
    .btn:last-child {
        right: 0;
    }
}

@media (min-width: 900px) {
    .btn:first-child {
        left: 10%;
        font-size: 70px;
    }
    .btn:last-child {
        right: 14%;
        font-size: 70px;
    }
}
